.countdown-container {

    background-color: @countdown;

    .section-list {
        max-width: 800px;
        margin: 0 auto;
        display: flex;

        li {
            width: 50%;
        }

        span {
            display: block;
            font-weight: bold;
            .resize-text(2em);
        }
    }

}