<section id="choices" class="choices-container">
    <div class="wrap">
        <div class="section-emphasize">Vacation Choices</div>
        <p>Please vote for your favorite places</p>
        <ul class="section-list">
            <li class="choice link">
                <span class="choice-title">Inverness</span><span class="choice-count">3</span>
            </li>
            <li class="choice link">
                <span class="choice-title">Vancouver</span><span class="choice-count">2</span>
            </li>
            <li class="choice link">
                <span class="choice-title">Chicago</span><span class="choice-count">1</span>
            </li>
        </ul>
    </div>
</section>