<section id="choices" class="choices-container">
    <div class="wrap">
        <h2>Vacation Choices</h2>
        <p>Please vote for your favorite places</p>
        <ul class="choices-list">
            <li class="choice">
                <span class="choice-title">Inverness</span><span class="choice-count">3</span>
            </li>
            <li class="choice">
                <span class="choice-title">Vancouver</span><span class="choice-count">2</span>
            </li>
            <li class="choice">
                <span class="choice-title">Chicago</span><span class="choice-count">1</span>
            </li>
        </ul>
    </div>
</section>