<section id="choices" class="choices-container">
    <div class="wrap">
        <div class="section-emphasize">Vacation Choices</div>
        <p>Please vote for your favorite places</p>
        <ul class="section-list">
            {{#each choices}}
                <li class="choice link" data-id="{{id}}">
                    <span class="choice-title">{{place}}</span><span class="choice-count">{{count}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
</section>