<header class="header-container">
    <div class="wrap">
        <h1 class="page-heading">GO on Vacation!</h1>
        <img src="dist/images/go.png" alt="vacation-icon">
        <p>Let's plan our next amazing vacation on</p>
        <p class="section-emphasize">July 20th, 2017</p>
    </div>
</header>